*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(213, 198, 177);
}
.font{
    font-family: "roboto";
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 100%;
    height: 100vh;
}
.box{
    display: flex;
    border-radius: 10px;
    width: 100%;
    max-width: 460px;
    background-color: rgb(255, 255, 255) !important;
    height: 300px;
}
.text-area{
    width:55%;
}
.image-area{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 0px 0px 20px;
}
.image-area img{
    width: 290px;
    height: 280px;
}
.text-box{
    padding: 40px 0px 0px 35px;
}
.text-box h3{
    font-size: clamp(1.9rem,3vw,1.7rem);
    font-weight: 500;
    padding-bottom: 4px;
}
.text-box p{

    padding: 5px 0px 0px 0px;
    font-size: 10px;
    font-weight: 500;
    color: hsl(0, 0%,58%);
}
.point img{
    margin-top: 4px;
    width: 10px;
    height: 10px;
}
.point{
    display: flex;
    gap: 5px;
}
.points{
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding: 12px 0px 0px 0px;
}
.email{
    padding:20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.email h5{
    font-size: 8px;
}
input{
    padding: 3px 0px;
    width: 195px;

    border: 1px solid  hsl(0, 0%,58%);
}
input::placeholder{
    color: hsl(0, 0%,58%);
    font-size: 8px;
}
button{
    margin-top: 5px;
    width: 195px;
    padding: 10px 0px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 9px;
    cursor: pointer;
}
button:hover{
    box-shadow: 2px 0px rgb(212, 101, 101);
    background-color:hsl(4, 100%, 67%);
    transition: 0.3s ease;
}



@media only screen and (max-width:520px) {
    .box{
        padding: 0px 0px 40px 0px;
        width: 90%;
        height: fit-content;
        flex-direction: column-reverse;
    }
    .text-area,.image-area{
        width: 100%;
    }
    .image-area{
        display:flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 0px;
    }
    .image-area img{
        width:100%;
        height: fit-content
    }
    .text-box p{
        font-size: 12px;
    }
    .points p,button,.email h5{
        font-size: 10px !important;
    }
    input,button{
        padding: 10px 0px !important;
        width: 250px;
    }
    
    input::placeholder{
        font-size: 9px;
    }
    input:active{
            border:1px solid black;
    }

}